body {
        background-color: #50CEDC;
}
img {
    width: 1000px;
    height: auto;
}
p {
    font-size: 24px;

}
h1 {
    text-decoration: underline;
}
p2 {
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    text-decoration: underline;
}
